<h3>{{ employee.FirstName }} {{ employee.LastName}}</h3>
<hr/>
<form class="form-horizontal">
    <div class="form-group">
        <label class="form-label">Nome:</label>
        <div class="forms"><input type="text" class="col-md-12" ng-model="employee.FirstName"></div>
    </div>
    <div class="form-group">
        <label class="form-label">Sobrenome:</label>
        <div class="forms"><input type="text" class="col-md-12" ng-model="employee.LastName"></div>
    </div>
    <div class="form-group">
        <label class="form-label">Telefone:</label>
        <div class="forms"><input type="text" class="col-md-12" ng-model="employee.HomePhone"></div>
    </div>
    <div class="form-actions">
        <button class="btn btn-primary" type="button" ng-click="save()">Salvar</button>
        <button class="btn btn-danger" type="button" ng-click="del()" ng-disabled="!isUpdate">Apagar</button>
    </div>
</form>
